[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/AetherstormRepo/glfw
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/AetherstormRepo/entt
[submodule "3rdparty/bgfx.cmake"]
	path = 3rdparty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/SDL2"]
	path = 3rdparty/SDL2
	url = https://github.com/libsdl-org/SDL
